* {
    margin: 0;
    padding: 0;
    font-family: heebo, sans-serif;
}

body {
    font-weight: 200;
    font-style: normal;
    background-color: rgb(244, 249, 244);
}

header {
    width: 100%;
    min-height: 10px;
    height: 75px;
    position: relative;
}

#logo {
    width: auto;
    height: 55px;
    position: absolute;
    display: inline;
    left: 2%;
    margin-top: 1%;
}
#logo:hover {
    background-color: white;
}

.nav {
    position: relative;
    display: inline;
    left: 20%;
    max-width: 10%;
}
.nav ul {
    width: 20px 25px;
    display: inline;
    /* margin: 10px; */
}
.nav ul li {
    list-style: none;
    margin: 30px 10px 0px 50px;
    position: relative;
    display: inline-block;
    text-align: center;
    left: 100px;
}
.nav ul li a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 300;
    color: rgb(134, 142, 149);
    padding: 10px 15px 10px 15px;
}
.nav ul li a:hover {
    color: black;
    background-color: #C96203;
    font-weight: 400;
}

.login {
    position: absolute;
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin-left: 40%;
    margin-top: -10px;
}
.login button {
    font-size: 17px;
    font-weight: 200;
    padding: 10px 25px 10px 25px;
    margin: 10px;
    border: none;
}
.login button:hover {
    color: white;
    font-weight: bold;
    background-color: #CEB089;
    cursor: pointer;
}
.banner {
    width: 100%;
    height: 60vh;
    display: inline-block;
    text-align: center;
    background-image: url('./images/head.png');
    position: relative;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    padding-top: 200px;
}
.banner h1 {
    margin-top: 55px;
    color: white;
    font-size: 45px;
    font-weight: bold;
    margin-left: 110px;
    text-align: left;
    position: absolute;
    line-height: 80px;
    text-transform:uppercase;
}
#txt-logo{
    margin-top: 145px;
    margin-left: -275px;
    width: auto;
    height: 50px;
    position: absolute;
}
#txt-logo:hover {
    background-color: #C0917D;
}
.section1 {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 90vh;
    text-align: center;
    padding-top: 100px;
}
.section1 img {
    width: 350px;
    height: 450px;
}
.s1-card1 {
    position: relative;
    text-align: left;
    display: inline-block;
    padding: 50px;
}
.s1-card2 {
    /* height: 10vh; */
    position: relative;
    text-align: left;
    display: inline-block;
    padding: 50px;

}
.s1-card3 {
    /* height: 10vh; */
    position: relative;
    text-align: left;
    /* position: absolute; */
    display: inline-block;
    padding: 50px;
}

.section2 {
    width: 100%;
    height: 80vh;
    background-image: url(./images/nyc.png);
    background-position: center;
    background-size: cover;
    text-align: center;
}
.section2 h1 {
    padding-top: 300px ;
    font-size: 70px;
}
.section3 {
    width: 100%;
    height: 40vh;
    position: relative;
}
.section3 img {
    width: auto;
    display: inline-block;
    height: 400px;
    padding-top: 100px;
    padding-left: 100px;
    /* position: absolute; */

}
.s3-txt {
    text-align: left;
    display: inline-block;
    position: absolute;
    padding-top: 200px;
    padding-left: 100px;
} 
.s3-txt p {
    margin-top: 20px;
}
.s3-bttn {
    padding: 10px 15px;
    margin-top: 30px;
    border: none;
    color: #C96203;
}
.s3-bttn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid black;
}
.section3b {
    position: relative;
    width: 100%;
    height: 40vh;
    padding-top: 250px ;
}
.section3b img {
    width: 600px;
    display: inline-block;
    height: 400px;
    padding-top: 100px;
    padding-left: 720px;
}
.s3b-txt {
    text-align: left;
    display: inline-block;
    position: absolute;
    padding-top: 200px;
    padding-left: 250px;
} 
.s3b-txt p {
    margin-top: 20px;
}
#s3b-bttn {
    padding: 10px 15px;
    margin-top: 30px;
    border: none;
    color: #C96203;
}
#s3b-bttn:hover { 
    background-color: white;
    cursor: pointer;
    border: 2px solid black;
    color: black;
}
.testimonial {
    height: auto;
    width: 100%;
    margin-top: 400px;
    padding-top: 200px;
    padding-bottom: 300px ;
    height: 40vh;
    position: relative;
    display: inline-block;
    text-align: left;
    background-color: white;
}
#h1h {
    font-size: 50px;
    text-align: center;
    padding-bottom: 100px;
}
.section4 h1 {
    padding-bottom: 20px;
    
}
.s4-card1 {
    width: 310px;
    display: inline-block;
    margin: 10px 70px;
    padding: 10px 50px 50px 50px;
    background-color: rgb(244, 249, 244);
}
.s4-card2 {
    width: 310px;
    display: inline-block;
    margin: 10px 0px;
    padding: 10px 50px 50px 50px;
    background-color: rgb(244, 249, 244);
}
.s4-card3 {
    width: 310px;
    display: inline-block;
    margin: 10px 70px;
    padding: 10px 50px 50px 50px;
    background-color: rgb(244, 249, 244);
}
.name {
    font-weight: bold;
    padding-top: 20px;

}
.stars img{
    padding-top: 30px;
    width: 25px;
    height: 25px;
}

.section5 {
    width: 100%;
    height: 90vh;
    /* background-color: #C0917D; */
    padding-top: 100px ;
    text-align: center;
    /* position: relative; */
}
.section5 h1{
    text-align: center;
}
.section5 img{
    width: 400px;
    height: 450px;
}
.section5 .s5-card1{
    display: inline-block;
    /* position: absolute; */
    text-align: left;
    /* width: 48%; */
    margin-right: 200px;
    padding-top: 50px;
    font-weight: 300;

}
.section5 .s5-card2{
    display: inline-block;
    text-align: left;
    font-weight: 300;
  

}
#s5-c1-p2, #s5-c2-p2{
    text-align: right;
    margin-top: -40px;

}
.section6 {
    position: relative;
    width: 100%;
    top: 50%;
    text-align: center;
    
}
.info {
    font-size: 40px;
    font-weight: 300;
    padding-bottom: 30px;
}
.input-box {
    display: inline;
    padding-bottom: 100px;
    border: none;
    margin-left: 0px;
    padding-left: 200px;
}
.input-box input{
    font-size: 16px; 
    width: 300px;
    height: 30px;
    border: none;
    padding-left: 10px;
}
.input-box button{
    display: inline;
    position: absolute;
    width: 80px;
    height: 30px;
    font-size: 17px;
    margin-left: -200px;
    border: none;
    background-color: #CEB089;
    cursor: pointer;

}
#search-box{
    margin-left: -100px;
}
.footer {
    margin-top: 420px ;
    padding-bottom: 20px;
    /* width: 100%; */
    min-height: 10px;
    height: 80px;
    position: relative;
    background-color: white;
}

#logo {
    width: auto;
    height: 40px;
    position: absolute;
    display: inline;
    left: 150px;
    margin-top: 22px;
}
#logo:hover {
    background-color: #C96203;
}

.fttr-nav {
    position: relative;
    display: inline;
    left: 20%;
    max-width: 10%;
}
.fttr-nav ul {
    width: 20px 25px;
    display: inline-block;
    /* margin-left: -1000px; */
    position: relative;
    right: 350px;
}
.fttr-nav ul li {
    list-style: none;
    margin: 30px 10px 0px 50px;
    position: relative;
    display: inline-block;
    text-align: left;;
}
.fttr-nav ul li a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 300;
    color: rgb(134, 142, 149);
    padding: 10px 15px 10px 15px;
}
.fttr-nav ul li a:hover {
    color: black;
    background-color: #C0917D;
    font-weight: 400;
}
.selector {
    border: 1px solid grey;
    padding: 10px;
    position: relative;
    display: inline-block;
    left: 500px;
    bottom: 35px;
}